*{
  margin:0;
  padding: 0;
}
.App {
  text-align: center;
  background-color: #282c34;
  color:#fff;
  height: 100vh;
}
.main-wrapper{
  width:60%;
  display: flex;
  flex-direction: column;
  margin:30px auto;
}
.first-input-con{
  display: flex;
  justify-content: space-between;
}
.first-input-con input{
  width: 60%;
  padding-left: 50px;
  height: 50px;
}
.first-input-con button{
  width:20%;
  border-radius: 10px;
}

